<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		<title>Physucks for Ducks Quack Quack!</title>
		<link rel = "stylesheet"  href = "css/style.css"/>
	</head>

	</style>

	<body ng-app="sliders">
		<script type = "text/javascript" src = "js/jquery-1.11.1.js"></script>
		<script type = "text/javascript" src = "js/physics.js"></script>
		<script type = "text/javascript" src = "js/main.js"></script>
		<script type = "text/Javascript" src = "js/matter.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type = "text/javascript">
				
		//global positioning variables
		var Vpx = window.innerWidth;
		var Vpy = window.innerHeight;

		// Matter.js module aliases
		var Engine = Matter.Engine,
    		World = Matter.World,
    		Bodies = Matter.Bodies,
    		Renderer = Matter.Renderer,
    		Body = Matter.Body,
    		Common = Matter.Common,
    		Composites = Matter.Composites,
    		MouseConstraint = Matter.MouseConstraint;;

    	Renderer = {
       				options:{
           	            wireframes: true,
               	        width: Vpx,
                   	    height: Vpy*.7,
                   	}};

		// create a Matter.js engine
		var engine = 	Engine.create(document.body, {render: Renderer})
		// create two boxes and a ground
		var boxA = Bodies.rectangle(1500, 200, 80, 80);
		var boxB = Bodies.rectangle(450, 50, 80, 80);
		var ground = Bodies.rectangle(Vpx/2, Vpy*.7, Vpx, 30, { isStatic: true });
		var roof = Bodies.rectangle(Vpx/2, 0, Vpx, 10, {isStatic: true});
		var leftWall = Bodies.rectangle(10, 20, 10, Vpy*0.9);
		var right = Bodies.rectangle();

		// add all of the bodies to the world
		World.add(engine.world, [ground, boxA, boxB]);

		var mouseConstraint = MouseConstraint.create(engine);
		//mouseConstraint.dragPoint = 110;
		World.add(engine.world, mouseConstraint);

		// run the engine
		Engine.run(engine);
		
		var whichSide = true;
		function createBox()
		{
			if(whichSide == true)
			{
				var x = document.getElementById("rad").value ;
				var y = document.getElementById("numSides").value ;
				
					World.add(engine.world, Bodies.polygon(450, 50, y, x));
					whichSide = false;
			}
			
			else
			{
				var x = document.getElementById("rad").value ;
				var y = document.getElementById("numSides").value ;
				
					World.add(engine.world, Bodies.polygon(900, 50, y, x));
					whichSide = true;
			}
		}
		
		function get_radVal()
		{
			var x = document.getElementById("rad").value ;
				document.getElementById("radDiv").innerHTML = x;
		
		}
		
		function get_sidesVal()
		{
			var x = document.getElementById("numSides").value ;
				document.getElementById("sidesDiv").innerHTML = x;
		
		}

		var app = angular.module('sliders', []);

			app.controller('MainCtrl', function($scope) {
				$scope.h = 180;
				$scope.s = 50;
				$scope.l = 50;
				$scope.ahsl = 100;
				$scope.r=127;
				$scope.g=127;
				$scope.b=127;
				$scope.argb=100;
			});

		</script>
		
		Radius: 
		<div id = "radDiv"></div>
		<input type = "range" id = "rad" value = "90" onClick = "get_radVal()">
		<br>
		Number Of Sides:
		<div id = "sidesDiv"></div>
		<input type ="range" id = "numSides" value = "90" onClick = "get_sidesVal()" max = "10">
		<br>
		<input type = "button" onclick = "createBox()" value = "Polygon"></input>

		<form action="#" class="hslform" ng-controller="MainCtrl">
					<h2><span style="color:#FF6B00">Hue</span>, Saturation, <span style="color:rgb(127, 127, 127)">Lightness</span></h2>
						<div id="colorlabel" for="h">h: {{ h }}</div>
						<input type="range" class="range" name="h" min="0" max="360" ng-model="h"></input>
						<div id="colorlabel" for="s">s: {{ s }}%</div>
						<input type="range" class="range" name="s" min="0" max="100" ng-model="s"></input>
						<div id="colorlabel" for="l">l: {{ l }}%</div>
						<input type="range" class="range" name="l" min="0" max="100" ng-model="l"></input>
						<div id="colorlabel" for="ahsl">a: {{ ahsl/100 }}</div>
						<input type="range" class="range" name="ahsl" min="0" max="100" ng-model="ahsl"></input>
						
						<div class="hslresult " style="background-color:hsla({{h}}, {{s}}%, {{l}}%, {{ahsl*0.01}})"></div>
					</form>
					
					<form action="#" class="rgbaform" ng-controller="MainCtrl">
					<h2><span style="color:#BF3F3F">Red</span>, <span style="color:#3FBF3F">Green</span>, <span style="color:#3F6ABF">Blue</span></h2>
						<div id="colorlabel" for="r">r: {{ r }}</div>
						<input type="range" class="range" name="r" min="0" max="255" ng-model="r"></input>
						<div id="colorlabel" for="g">g: {{ g }}</div>
						<input type="range" class="range" name="r" min="0" max="255" ng-model="g"></input>
						<div id="colorlabel" for="b">b: {{ b }}</div>
						<input type="range" class="range" name="r" min="0" max="255" ng-model="b"></input>
						<div id="colorlabel" for="argb">a: {{ argb/100 }}</div>
						<input type="range" class="range" name="argb" min="0" max="100" ng-model="argb"></input>
						
						<div class="hslresult " style="background-color:rgba({{r}}, {{g}}, {{b}}, {{argb*0.01}})"></div>
						
					</form>
	</body>
</html>