<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		<title>Physucks for Ducks Quack Quack!</title>
		<link rel = "stylesheet"  href = "css/style.css"/>
	</head>

	</style>

	<body ng-app="sliders">
		<script type = "text/javascript" src = "js/jquery-1.11.1.js"></script>
		<script type = "text/javascript" src = "js/physics.js"></script>
		<script type = "text/javascript" src = "js/main.js"></script>
		<script type = "text/Javascript" src = "js/matter.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type = "text/javascript">
				
		//global positioning variables
		var Vpx = window.innerWidth;
		var Vpy = window.innerHeight;

		// Matter.js module aliases
		var Engine = Matter.Engine,
    		World = Matter.World,
    		Bodies = Matter.Bodies,
    		Renderer = Matter.Renderer,
    		Body = Matter.Body,
    		Common = Matter.Common,
    		Composites = Matter.Composites,
    		MouseConstraint = Matter.MouseConstraint;;

    	Renderer = {
       				options:{
           	            wireframes: true,
               	        width: Vpx,
                   	    height: Vpy*.7,
                   	}};

		// create a Matter.js engine
		var engine = 	Engine.create(document.body, {render: Renderer})
		// create two boxes and a ground
		var boxA = Bodies.rectangle(1500, 200, 80, 80);
		var boxB = Bodies.rectangle(450, 50, 80, 80);
		var ground = Bodies.rectangle(Vpx/2, Vpy*.7, Vpx, 30, { isStatic: true });
		var roof = Bodies.rectangle(Vpx/2, 0, Vpx, 10, {isStatic: true});
		var leftWall = Bodies.rectangle(10, 20, 10, Vpy*0.9);
		var right = Bodies.rectangle();

		// add all of the bodies to the world
		World.add(engine.world, [ground, boxA, boxB]);

		var mouseConstraint = MouseConstraint.create(engine);
		//mouseConstraint.dragPoint = 110;
		World.add(engine.world, mouseConstraint);

		// run the engine
		Engine.run(engine);
		
		var whichSide = true;
		function createBox()
		{
			var location;
			
			if(whichSide == true)
			{
				location = 450;
				whichSide = false;
				
			}
			else
			{
				location = 900;
				whichSide = true;
			}

			
				var x = document.getElementById("rad").value ;
				var y = document.getElementById("numSides").value ;
				
					World.add(engine.world, Bodies.polygon(location, 50, y, x));
		}
		
		function get_radVal()
		{
			var x = document.getElementById("rad").value ;
				document.getElementById("radDiv").innerHTML = x;
		
		}
		
		function get_sidesVal()
		{
			var x = document.getElementById("numSides").value ;
				document.getElementById("sidesDiv").innerHTML = x;
		
		}

		var app = angular.module('sliders', []);

			app.controller('MainCtrl', function($scope) {
				$scope.r = 180;
				$scope.s = 50;
			});

		</script>

		<form action="#" class="hslform" ng-controller="MainCtrl">
			<h2>Add Objects</h2>

			<div id="colorlabel" for="r">Radius: {{ r }}</div>
			<input type="range" id = "rad" class="range" name="r" min="0" max="100" ng-model="r" onClick = "get_radVal()"></input>

			<div id="colorlabel" for="s">Sides: {{ s }}</div>
			<input type="range" id = "numSides" class="range" name="s" min="0" max="20" ng-model="s" onClick = "get_sidesVal()"></input>

			<input type = "button" onclick = "createBox()" value = "Polygon"></input>
		</form>
	</body>
</html>